@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header_item{
  @apply text-white text-center w-1/5 font-bold;
}

.text_item{
  @apply text-cream w-1/5 text-center;
}

.items_container{
  @apply flex justify-between flex-col border-b-2 border-lightgray;
}

.items{
  @apply absolute -bottom-40 bg-white overflow-y-auto h-40 z-10 rounded-md;
}

